In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
path = '../datasets/FBref/WC_2019'

In [62]:
keeper = []

In [63]:
for root, dirs, files in os.walk(path):
    for file in files:
        if 'keeper' in file:
            file_path = os.path.join(root, file)
            df = pd.read_csv(file_path, skiprows = 1)
            df['Team'] = file.split()[0]
            keeper.append(df)

In [64]:
combined_keep = pd.concat(keeper, ignore_index = True)

In [65]:
combined_keep.head(5)

,Player,Age,Min,SoTA,GA,Saves,Save%,PSxG,Cmp,Att,...,AvgLen,Att.2,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,Team
0,Sari van Veenendaal,29-095,90,10,2,8,90.0,2.7,2,16,...,42.7,8,75.0,41.4,16,1,6.3,3,18.5,Netherlands
1,Alyssa Naeher,31-078,90,1,0,1,100.0,0.0,4,13,...,38.9,5,100.0,54.2,6,0,0.0,2,19.3,USA
2,Karen Bardsley,34-256,90,3,0,3,100.0,1.0,4,9,...,33.5,7,71.4,40.4,6,0,0.0,0,8.3,England
3,Ingrid Hjelmseth,39-078,90,6,3,2,50.0,3.0,1,3,...,23.8,11,18.2,27.5,14,0,0.0,2,16.6,Norway
4,Sarah Bouhaddi,32-254,90,8,2,6,75.0,1.7,5,12,...,37.4,4,75.0,42.5,5,0,0.0,5,27.6,France

In [91]:
grouped_keeper = combined_keep[['Player', 'SoTA', 'GA']].groupby('Player').sum().reset_index()

In [92]:
grouped_keeper['Games'] = combined_keep.groupby('Player').transform('size')

In [93]:
grouped_keeper['NSPG'] = grouped_keeper.apply(lambda row: (row['SoTA']-row['GA'])/row['Games'], axis = 1)

In [94]:
grouped_keeper = pd.merge(grouped_keeper, combined_keep[['Player', 'Team']].drop_duplicates(), on='Player',how = 'left')

In [95]:
grouped_keeper.sort_values(by = 'NSPG', ascending = False)

                 Player  SoTA  GA  Games   NSPG         Team
14       Sarah Bouhaddi    15   3      1  12.00       France
15  Sari van Veenendaal    21   3      2   9.00  Netherlands
11       Lydia Williams     8   1      1   7.00    Australia
10       Laura Giuliani    15   2      2   6.50        Italy
8      Ingrid Hjelmseth    10   4      2   3.00       Norway
12         Peng Shimeng     5   2      1   3.00        China
7        Hedvig Lindahl    14   3      4   2.75       Sweden
1         Alyssa Naeher    11   3      4   2.00          USA
5         Carly Telford    11   4      4   1.75      England
0         Almuth Schult     8   2      4   1.50      Germany
3       Ayaka Yamashita     5   2      2   1.50        Japan
9        Karen Bardsley     5   0      4   1.25      England
16      Stephanie LabbÃ©     2   1      1   1.00       Canada
6     Chiamaka Nnadozie     4   3      2   0.50      Nigeria
4               BÃ¡rbara     3   2      2   0.50       Brazil
13         Sandra PaÃ±os     2   2      2   0.00        Spain
2      Annette Ngo Ndom     3   3      2   0.00     Cameroon

In [96]:
summary = []

In [ ]:
for root, dirs, files in os.walk(path):
    for file in files:
        if 'summary' in file:
            file_path = os.path.join(root, file)
            df = pd.read_csv(file_path, skiprows = 1)
            df['Team'] = file.split()[0]
            summary.append(df)